* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 8%);
  color: white;
  font-family: inter;
}

p {
  background-color: hsl(0, 0%, 12%);
}
.container {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: hsl(0, 0%, 12%);
  border: none;
  padding: 30px;
  border-radius: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  border-radius: 100px;
  height: auto;
  width: 25%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
}

.name {
  font-weight: bold;
  text-align: center;
  font-size: 2.5vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.location {
  text-align: center;
  color: hsl(75, 94%, 57%);
  font-size: 1.4vh;
  font-weight: bold;
  margin-bottom: 15px;
}

.about {
  text-align: center;
  font-size: 1.4vh;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
}

button {
  margin-top: 0;
  padding: 13px;
  background-color: hsl(0, 0%, 20%);
  margin: 8px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

a:link {
  text-decoration: none;
  background-color: hsl(0, 0%, 20%);
}

a:visited {
  text-decoration: none;
  background-color: hsl(0, 0%, 20%);
}

a:active {
  text-decoration: none;
  background-color: hsl(0, 0%, 20%);
}

a:hover {
  text-decoration: none;
  background-color: hsl(0, 0%, 20%);
}

/* RESPONSIVENESS */

@media (max-width: 1100px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: hsl(0, 0%, 12%);
    border: none;
    padding: 30px;
    border-radius: 10px;
  }
}

@media (max-width: 992px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: hsl(0, 0%, 12%);
    border: none;
    padding: 30px;
    border-radius: 10px;
  }
}

@media (max-width: 688px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: hsl(0, 0%, 12%);
    border: none;
    padding: 30px;
    border-radius: 10px;
  }
}

@media (max-width: 324px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: hsl(0, 0%, 12%);
    border: none;
    padding: 30px;
    border-radius: 10px;
  }
}
